apiVersion: rainbond.io/v1alpha1
kind: RainbondCluster
metadata:
  name: rainbondcluster
  namespace: rbd-system
spec:
  rainbondImageRepository: registry.cn-hangzhou.aliyuncs.com/goodrain
  suffixHTTPHost: ""
  gatewayIngressIPs:
  - single_node_external_ip
  nodesForGateway:
  - name: node
    internalIP: single_node_internal_ip
    externalIP: single_node_internal_ip
  nodesForChaos:
  - name: node
    internalIP: single_node_internal_ip
    externalIP: single_node_internal_ip
  installMode: WithoutPackage
  installVersion: v5.6.0-release
  configCompleted: true
  cacheMode: hostpath
---
apiVersion: rainbond.io/v1alpha1
kind: RainbondPackage
metadata:
  name: rainbondpackage
  namespace: rbd-system
  labels: {}
spec:
  pkgPath: /opt/rainbond/pkg/tgz/rainbond.tgz
  imageHubUser: ""
  imageHubPass: ""
---
apiVersion: rainbond.io/v1alpha1
kind: RainbondVolume
metadata:
  name: local-path
  namespace: rbd-system
  labels:
    accessModes: rwo
    belongTo: rainbond-operator
    creator: Rainbond
spec:
  storageClassParameters:
    provisioner: rancher.io/local-path
  imageRepository: registry.cn-hangzhou.aliyuncs.com/goodrain
---
apiVersion: rainbond.io/v1alpha1
kind: RbdComponent
metadata:
  name: rbd-api
  namespace: rbd-system
  labels:
    belongTo: rainbond-operator
    creator: Rainbond
    name: rbd-api
    persistentVolumeClaimAccessModes: ReadWriteOnce
spec:
  replicas: 1
  image: rainbond/rbd-api:v5.6.0-release
  imagePullPolicy: IfNotPresent
  priorityComponent: false
  args:
  - --db-type=sqlite
  volumeMounts:
  - mountPath: /db
    name: sqlite
  volumes:
  - hostPath:
      path: /app/data
      type: DirectoryOrCreate
    name: sqlite
---
apiVersion: rainbond.io/v1alpha1
kind: RbdComponent
metadata:
  name: rbd-chaos
  namespace: rbd-system  
  labels:
    belongTo: rainbond-operator
    creator: Rainbond
    name: rbd-chaos
    persistentVolumeClaimAccessModes: ReadWriteOnce
spec:
  replicas: 1
  image: rainbond/rbd-chaos:v5.6.0-release
  imagePullPolicy: IfNotPresent
  priorityComponent: false
  volumeMounts:
    - mountPath: /run/containerd/
      name: containerdsock
    - mountPath: /db
      name: sqlite
  volumes:
    - hostPath:
        path: /var/run/k3s/containerd
        type: Directory
      name: containerdsock
    - hostPath:
        path: /app/data
        type: DirectoryOrCreate
      name: sqlite
  args:
  - --db-type=sqlite
---
apiVersion: rainbond.io/v1alpha1
kind: RbdComponent
metadata:
  name: rbd-etcd
  namespace: rbd-system
  labels:
    belongTo: rainbond-operator
    creator: Rainbond
    name: rbd-etcd
    priorityComponent: "true"
spec:
  replicas: 1
  image: rainbond/etcd:v3.3.18
  imagePullPolicy: IfNotPresent
  priorityComponent: true
---
apiVersion: rainbond.io/v1alpha1
kind: RbdComponent
metadata:
  name: rbd-eventlog
  namespace: rbd-system
  labels:
    belongTo: rainbond-operator
    creator: Rainbond
    name: rbd-eventlog
    persistentVolumeClaimAccessModes: ReadWriteOnce
spec:
  replicas: 1
  image: rainbond/rbd-eventlog:v5.6.0-release
  imagePullPolicy: IfNotPresent
  priorityComponent: false
  args:
  - --db.type=sqlite
  volumeMounts:
  - mountPath: /db
    name: sqlite
  volumes:
  - hostPath:
      path: /app/data
      type: DirectoryOrCreate
    name: sqlite
---
apiVersion: rainbond.io/v1alpha1
kind: RbdComponent
metadata:
  name: rbd-gateway
  namespace: rbd-system
  labels:
    belongTo: rainbond-operator
    creator: Rainbond
    name: rbd-gateway
    priorityComponent: "true"
spec:
  replicas: 1
  image: rainbond/rbd-gateway:v5.6.0-release
  imagePullPolicy: IfNotPresent
  priorityComponent: true
---
apiVersion: rainbond.io/v1alpha1
kind: RbdComponent
metadata:
  name: rbd-hub
  namespace: rbd-system
  labels:
    belongTo: rainbond-operator
    creator: Rainbond
    name: rbd-hub
    priorityComponent: "true"
    persistentVolumeClaimAccessModes: ReadWriteOnce
spec:
  replicas: 1
  image: registry:2.8.3
  imagePullPolicy: IfNotPresent
  priorityComponent: true
---
apiVersion: rainbond.io/v1alpha1
kind: RbdComponent
metadata:
  name: rbd-monitor
  namespace: rbd-system
  labels:
    belongTo: rainbond-operator
    creator: Rainbond
    name: rbd-monitor
spec:
  replicas: 1
  image: rainbond/rbd-monitor:v5.6.0-release
  imagePullPolicy: IfNotPresent
  priorityComponent: false
  resources:
    requests:
      memory: 0
      cpu: 0
    limits:
      memory: 0
      cpu: 0
---
apiVersion: rainbond.io/v1alpha1
kind: RbdComponent
metadata:
  name: rbd-mq
  namespace: rbd-system
  labels:
    belongTo: rainbond-operator
    creator: Rainbond
    name: rbd-mq
spec:
  replicas: 1
  image: rainbond/rbd-mq:v5.6.0-release
  imagePullPolicy: IfNotPresent
  priorityComponent: false
---
apiVersion: rainbond.io/v1alpha1
kind: RbdComponent
metadata:
  name: rbd-node
  namespace: rbd-system
  labels:
    belongTo: rainbond-operator
    creator: Rainbond
    name: rbd-node
    priorityComponent: "true"
    persistentVolumeClaimAccessModes: ReadWriteOnce
spec:
  replicas: 1
  image: rainbond/rbd-node:v5.6.0-release
  imagePullPolicy: IfNotPresent
  priorityComponent: true
  volumeMounts:
    - mountPath: /run/containerd
      name: containerdsock
  volumes:
    - hostPath:
        path: /var/run/k3s/containerd
        type: Directory
      name: containerdsock
---
apiVersion: rainbond.io/v1alpha1
kind: RbdComponent
metadata:
  name: rbd-resource-proxy
  namespace: rbd-system
  labels:
    belongTo: rainbond-operator
    creator: Rainbond
    name: rbd-resource-proxy
spec:
  replicas: 1
  image: rainbond/rbd-resource-proxy:v5.6.0-release
  imagePullPolicy: IfNotPresent
  priorityComponent: false
  resources:
    requests:
      memory: 0
      cpu: 0
    limits:
      memory: 0
      cpu: 0
---
apiVersion: rainbond.io/v1alpha1
kind: RbdComponent
metadata:
  name: rbd-webcli
  namespace: rbd-system
  labels:
    belongTo: rainbond-operator
    creator: Rainbond
    name: rbd-webcli
spec:
  replicas: 1
  image: rainbond/rbd-webcli:v5.6.0-release
  imagePullPolicy: IfNotPresent
  priorityComponent: false
---
apiVersion: rainbond.io/v1alpha1
kind: RbdComponent
metadata:
  name: rbd-worker
  namespace: rbd-system
  labels:
    belongTo: rainbond-operator
    creator: Rainbond
    name: rbd-worker
    persistentVolumeClaimAccessModes: ReadWriteOnce
spec:
  env:
  - name: ALLINONE_MODE
    value: "true"
  - name: TCPMESH_DEFAULT_IMAGE_NAME
    value: "rainbond/rbd-mesh-data-panel:v5.6.0-release"
  - name: PROBE_MESH_IMAGE_NAME
    value: "rainbond/rbd-init-probe:v5.6.0-release"
  replicas: 1
  image: rainbond/rbd-worker:v5.6.0-release
  imagePullPolicy: IfNotPresent
  priorityComponent: false
  args:
  - --db-type=sqlite
  volumeMounts:
  - mountPath: /db
    name: sqlite
  volumes:
  - hostPath:
      path: /app/data
      type: DirectoryOrCreate
    name: sqlite
