apiVersion: rainbond.io/v1alpha1
kind: RbdComponent
metadata:
  name: rbd-node
  namespace: rbd-system
  labels:
    belongTo: rainbond-operator
    creator: Rainbond
    name: rbd-node
    priorityComponent: "true"
    persistentVolumeClaimAccessModes: ReadWriteOnce
spec:
  replicas: 1
  image: rainbond/rbd-node:v5.6.0-release
  imagePullPolicy: IfNotPresent
  priorityComponent: true
  volumes:
    hostPath:
      path: /run/k3s/containerd/containerd.sock
      type: Socket
      name: containerdsock
  volumeMounts:
    mountPath: /run/containerd/containerd.sock
      name: containerdsock