apiVersion: rainbond.io/v1alpha1
kind: RbdComponent
metadata:
  name: rbd-chaos
  namespace: rbd-system  
  labels:
    belongTo: rainbond-operator
    creator: Rainbond
    name: rbd-chaos
    persistentVolumeClaimAccessModes: ReadWriteOnce
spec:
  replicas: 1
  image: rainbond/rbd-chaos:v5.6.0-release
  imagePullPolicy: IfNotPresent
  priorityComponent: false
  volumeMounts:
    - mountPath: /run/containerd/
      name: containerdsock
    - mountPath: /db
      name: sqlite
  volumes:
    - hostPath:
        path: /run/containerd/
        type: Directory
      name: containerdsock
    - hostPath:
        path: /app/data
        type: DirectoryOrCreate
      name: sqlite
  args:
  - --db-type=sqlite
