global:
  scrape_interval: 5s
  evaluation_interval: 30s
rule_files:
  - /etc/prometheus/rules.yml
  - /etc/prometheus/rules/*.yml
scrape_configs:
  - job_name: rbdapi
    honor_labels: true
    scrape_interval: 1m
    scrape_timeout: 30s
    metrics_path: /metrics
    static_configs:
      - targets: [ 'rbd-api-api-inner:8888' ]
  - job_name: rbdbill
    honor_labels: true
    scrape_interval: 1m
    scrape_timeout: 30s
    metrics_path: /api/v1/metrics
    static_configs:
      - targets: [ 'gr2dd58b.rbd-prd.svc.cluster.local:8080' ]
  - job_name: api_gateway
    honor_labels: true
    scrape_interval: 15s
    scrape_timeout: 15s
    metrics_path: /apisix/prometheus/metrics
    static_configs:
      - targets: [ 'apisix-monitor:8099' ]
  - job_name: cadvisor
    scrape_interval: 15s
    scrape_timeout: 10s
    scheme: https
    kubernetes_sd_configs:
      - role: node
    bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
    tls_config:
      ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      insecure_skip_verify: true
    relabel_configs:
      - target_label: __address__
        replacement: kubernetes.default.svc:443
      - source_labels: [__meta_kubernetes_node_name]
        regex: (.+)
        target_label: __metrics_path__
        replacement: /api/v1/nodes/${1}/proxy/metrics/cadvisor
      - regex: __meta_kubernetes_node_label_(.+)
        action: labelmap
    metric_relabel_configs:
      - source_labels: [name]
        regex: k8s_(.*)_(.*)_(.*)_(.*)_(.*)
        target_label: service_id
        replacement: ${1}
      - source_labels: [name]
        regex: k8s_POD_(.*)-deployment-(.*)
        target_label: service_id
        replacement: ${1}
  - job_name: worker
    scrape_interval: 3m
    scrape_timeout: 1m
    metrics_path: /metrics
    static_configs:
      - targets: [ 'rbd-worker:6369' ]
        labels:
          component: worker
          service_name: worker
    metric_relabel_configs:
      - source_labels: [ tenant_id ]
        target_label: namespace
  - job_name: mq
    honor_labels: true
    scrape_interval: 1m
    scrape_timeout: 30s
    metrics_path: /metrics
    static_configs:
      - targets: [ 'rbd-mq:6301']
        labels:
          component: mq
          service_name: mq
  - job_name: builder
    honor_labels: true
    scrape_interval: 1m
    scrape_timeout: 30s
    metrics_path: /metrics
    static_configs:
      - targets: [ 'rbd-chaos:3228']
        labels:
          component: builder
          service_name: builder
  - job_name: prometheus
    honor_labels: true
    scrape_interval: 1m
    scrape_timeout: 30s
    metrics_path: /metrics
    static_configs:
      - targets: [ 'rbd-monitor:9999' ]
        labels:
          component: prometheus
  - job_name: nodes
    scrape_interval: 1m
    scrape_timeout: 10s
    metrics_path: /metrics
    scheme: https
    kubernetes_sd_configs:
    - role: node
    bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
    tls_config:
      ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      insecure_skip_verify: true
    relabel_configs:
    - separator: ;
      regex: __meta_kubernetes_node_label_(.+)
      replacement: $1
      action: labelmap
    - separator: ;
      regex: (.*)
      target_label: __address__
      replacement: kubernetes.default.svc:443
      action: replace
    - source_labels: [__meta_kubernetes_node_name]
      separator: ;
      regex: (.+)
      target_label: __metrics_path__
      replacement: /api/v1/nodes/${1}/proxy/metrics
      action: replace
  - job_name: node-exporter
    kubernetes_sd_configs:
    - role: node
    relabel_configs:
    - action: replace
      source_labels: [__address__]
      regex: '(.*):10250'
      replacement: '${1}:9100'
      target_label: __address__
  - job_name: kube-state-metrics
    honor_labels: true
    scrape_interval: 1m
    scrape_timeout: 30s
    metrics_path: /metrics
    static_configs:
      - targets: ['kube-state-metrics.rbd-plugins.svc.cluster.local:8080']
        labels:
          component: kube-state-metrics
  - job_name: hami-scheduler
    honor_labels: true
    scrape_interval: 5s
    scrape_timeout: 3s
    metrics_path: /metrics
    static_configs:
      - targets: ['hami-scheduler.rbd-plugins.svc.cluster.local:31993']
  - job_name: dcgm-exporter
    honor_labels: true
    scrape_interval: 5s
    scrape_timeout: 3s
    metrics_path: /metrics
    static_configs:
      - targets: ['dcgm-exporter.rbd-plugins.svc.cluster.local:9400']