name: check-ci

# Triggers the workflow on push or pull request events
on: 
  push:
    branches: 
    - master
    - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Install lint
        run: go get -u golang.org/x/lint/golint

      - name: Lint
        run: go list ./... | grep -v /vendor/ | xargs -L1 golint -set_exit_status
